h4 {
  text-align: left;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
}

#first_name,
#last_name,
#phone,
#email_inline,
#notes,
#dateOfBirth,
#password_inline,
label {
  color: black;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
}

form {
  color: black;
}

.input-field {
  color: black;
}

#page {
  text-align: center;

}
input.validate{
  color:navy;
}

#registerform {
  margin-right: 200px;
   
    
}
